/*ОСНОВА*/

body{
    margin: 0;
}

*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    box-sizing: border-box;
}

.container{
width: 1370px;
margin: 0 auto;
}


.container-custom{
    width: 90%;
    margin: 0 auto;    
}

/*NAV START*/

nav{
    background: rgb(246,191,159);
    background: linear-gradient(90deg, rgba(246,191,159,1) 26%, rgba(242,141,160,1) 63%, rgba(232,11,164,1) 100%);
    position: sticky;
    height: 70px;
    border-radius: 4px;
    position: fixed;
    width: 99%;
    top: 10px;
    left: 0.5%;
    z-index: 15;
}

.nav-header, .nav-link{
    display: inline-block;
}
 
.nav-links{
    float: right;
    color: white;
    transition: 0.3s;
}

.nav-link:hover{
    color:rgb(119,122,128);
    transition: 0.3s;
}

.nav-link{
    margin: 0px 20px;
    font-size: 20px;
}

.nav-link_sel{
    margin: 10px 0;

}

.nav-header{
    text-decoration: none;
    color: white;
    margin: 12px 0;
}


/*NAV STOP*/
#home{
    padding-top:100px ;
    
    background-color: bisque;
    height: 750px;
}

.right{
    float: right;
    
}

.left{
    width: 50%;
    float: left;
    margin: 180xpx 0;
    padding: 5px 0;
}

.home-header{
    color: rgb(119,122,128);
    font-size: 17px;
    margin-bottom:10px ;
}

.home-title{
    margin-top: 0;
    color: rgb(17,17,17);
    font-size:75px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.col{
    color: #dc8cdb;
    font-style: normal;
}

.btn{
    font-size: 17px;
    color: #fff;
    background: rgb(219,138,222);
    background: linear-gradient(-145deg, rgba(219, 138, 222, 1) 0%, rgba(246, 191, 159, 1) 100%);
    padding: 13px 30px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 2s;
    text-decoration: none;
}


.info-title{
    margin: 0 auto;
    text-align: center;
    color: rgb(119,122,128);
    font-size: 16px;
}

.info-header{
    text-align: center;
    
}

.info{
    margin: 150px 8px;
    display: inline-block;
    width: 22%;

}

.info-img{
    text-align: center;
}

.info-name{
    font-size: 23px;
    text-align: center;
}

.info-text{
    text-align: center;
    font-size: 17px;

}

.can-header{
    text-align: center;
    color: rgb(119,122,128);
}

.border-gradient-active{
    background-color: bisque;
    list-style: none;
    border: 3px solid rgb(219,138,222);
    text-align: center;
    width: 40%;
    color: black;
    border-radius:5px;
    padding: 15px;
    margin: 38px 0;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}


.border-gradient{
    list-style: none;
    border: 3px solid rgb(219,138,222);
    text-align: center;
    width: 40%;
    color: black;
    border-radius:5px;
    padding: 15px;
    margin: 38px 0;
    font-weight: 700;
    font-size: 20px;
    transition: 0.3s;
    cursor: pointer;
}

.border-gradient:hover{
    background-color:bisque;
    transition: 0.3s;
}

.img-r{
    float: left;
    border-radius: 6px;
    margin-left:-270px;
    margin-top: 45px;
}

.right{
    padding-top:30px ;
    float: right;
    width: 600px;
    font-size: larger;
}

.can-title{
    text-align: start;
    margin-top: 10px;
    margin-bottom: 0;

}

.can-text{
    color: rgb(119,122,128);
}

.hour{
    border-right: 2px solid ;
    padding: 0 9px;
}

.weeks{
    border-right: 2px solid ;
    padding: 0 9px;
}


.text-btn{
    padding: 20px 0;
}

.space{
    height: 700px;
}

#courses{
    background-image: url(https://templatemo.com/templates/templatemo_573_eduwell/assets/images/cta-bg.png); 
    padding: 100px 0;
    background-repeat: no-repeat;
    background-size: cover;

}

.left-cor{
   margin:0 300px;
}

.cor-img{
    margin: 50px 0;
}

.right-cor{
   float: right;
   margin: -550px 200px;
   position: relative;
}

.cor-title{
    color: rgb(254,251,250);
    font-size: 20px;
    margin-bottom:18px ;
}

.cor-header{
    color: rgb(254,251,250);
    font-size: 70px;
    margin: 0;
}

.cor-text{
    padding-bottom: 20px;
    color: rgb(254,251,250);
    margin-top: 25px;
    font-size: 18px;
}

.button-cor{
    font-size: 17px;
    color: rgb(219,138,222);
    background: rgb(254,251,250);
    padding: 9px 27px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 400;
    text-transform: uppercase;
    transition: all 2s;
    text-decoration: none;
}

.space-test{
    height: 45px;
}


.cards{
    border-radius: 15px;
    position: relative;
    width: 28.5%;
    display: inline-block;
    padding: 30px;
}

.card-text{
    color: rgb(119,122,128);
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card-title{
    margin: 50px 0 0 0;
    color: rgb(17,17,17);
    font-size: 25px;
    font-weight: 800;
}

.card-header{
    margin: auto;
    color: rgb(219,138,222);
    font-size: 19px;
    font-weight: 500;
}

.quote{
    margin: 0 310px;
}

.card-phone{
    width: 250px;
    background-color: rgb(219,138,222);
    border-radius: 10px;
    box-shadow: 1px 3px 0 0 rgba(0, 0, 0, 0.333);
    text-align: center;
    margin: -50px 0 0 0;
    position: relative;
        
}

.card-phone2{
    width: 250px;
    background-color: rgb(219,138,222);
    border-radius: 10px;
    box-shadow: 1px 3px 0 0 rgba(0, 0, 0, 0.333);
    text-align: center;
    margin: -84px 280px ;
    position: relative;
}

.phone-title{
    color: rgb(17,17,17);
    font-size: 20px;
}

.phone-number{
    color: rgb(254,251,250);
    font-size: 20px;
    font-weight: 600;
    margin-top: -23px;
}

.map{
    width: 900px;
    border-radius: 15px;
}


#box{
    width: 550px;
    float: right;
    margin: -450px 0 0 0 ;
    background-color: wheat;
    border-radius: 15px;
    padding: 20px;
    position: relative;
}

.box-header{
    color: rgb(119,122,128);
    font-size: 15px;
    margin: 10px 0;
}

.box-title{
    font-size: 30px;
    font-weight: 800;
    margin: 0;
}

.box-text{
    color: rgb(119,122,128);
    font-size: 20px;
}

.name{
    background-color:rgb(254,251,250);
    width: 90%;
    height: 40px;
    border-radius: 10px;
    margin: 0 28px;
    border: 1px solid rgb(254,251,250);
    transition: 0.3s;
    color: rgb(119,122,128);
    font-size: 18px;
}

.name:focus{
    transition: 0.3s;
    color: rgb(254,251,250);
    font-size: 20px;
    
}

.email{
    display: block;
    margin: 20px 28px;
    width: 90%;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(254,251,250);
    border: 1px solid rgb(254,251,250);
    transition: 0.3s;
    font-size: 18px;
}

.email:focus{
    transition: 0.3s;
    color: rgb(254,251,250);
    font-size: 20px;
    
}

.message{
    display: block;
    margin: 0 28px;
    width: 90%;
    border-radius: 10px;
    max-width: 90%;
    max-height: 300px;
    font-size: 18px;
}

.message:focus{
    transition: 0.3s;
    color: rgb(254,251,250);
    font-size: 20px;
}

.btn2{
    font-size: 17px;
    color: #fff;
    background: rgb(219,138,222);
    background: linear-gradient(-145deg, rgba(219, 138, 222, 1) 0%, rgba(246, 191, 159, 1) 100%);
    padding: 13px 30px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 2s;
    text-decoration: none;
    margin: 20px;
    
}